@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

a, p, h1, h2, h3{
    font-family: 'Lato';
}

.grid-container{
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 1fr  1fr 400px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #070707;
    color: #f6f6f6;
    list-style-type: none;
    padding: 12px;
    margin-top: 10px;

    h1{
        margin: 0 0 0 5rem;
        font-weight: 1000;
    }
}



.menu-content, ol, li, a{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: #070707;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: flex-end;
    margin-right: 2rem;

}

.menu-item{
    transition: 0.3s;
    color: #f6f6f6;
}

.menu-item:hover{
    transition: 0.3s;
    border-bottom: 1px solid black;
}

.button-menu{
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 3rem;
}

#join{
    transition: 0.3s;
    background-color: #f6f6f6;
    border: 0.1rem solid black;
}

#join:hover{
    transition: 0.3s;
    color: #f6f6f6;
    background-color: #8F9DA3;
    border: 0.1rem solid #070707;
}

#register{
    transition: 0.3s;
    color: white;
    background-color: #070707;
    border: 0.1rem solid #070707;
}

#register:hover{
    transition: 0.3s;
    color: #070707;
    background-color: #f6f6f6;
    border: 0.1rem solid #070707;
}

.carousel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f6f6f6;
    padding: 50px;
}

.carousel-text{
    padding: 50px;
    text-align: justify;
}

.carousel-text h2{
    margin-bottom: 1rem;
}

.carousel-main-image{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.carousel-image {
    transition: 0.9s;
    width: 300px;
    height: auto;
    border-radius: 1rem;
}

.carousel-image:hover {
    transition: 0.3s;
    transform: scale(1.2);
    height: auto;
    border-radius: 1rem;
    box-shadow: 2px 10px 20px -2px #070707c0;
    max-width: 400px;
    max-height: auto;
}

.image-carousel-tittle{
    margin-top: 0.5rem;
    font-style: italic;
    color: #494949;
}

/*Contenido principal*/
.main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #f6f6f6;
    color: #f6f6f6;
    padding:20px;
    padding-bottom: 40px;
    justify-items: center;
}

.galeria-item{
    transition: 0.3s;
    border: 1px solid #f6f6f6;
    border-radius: 0.4rem;
    display: grid;
    width: 70%;

}

.galeria-item{
    transition: 3s;
    transform: scale(1.1rem);
    border: none;
    border-radius: 0.4rem;
    display: grid;
    width: 70%;
    
        
}

.galeria-image{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-color: #070707;
    border-radius: 20px;
        h3{
            padding: 10px;
            text-align: center;
            margin-bottom: 10px;
        }
}


.galeria-item:hover{
    width: 100%;
    display: fixed;

}
#image-1{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), url(media/image-card-1.jpg);
    
}

#image-2{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), url(media/image-card-2.jpg);
}

#image-3{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), url(media/image-card-3.jpg);
}



.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #070707;
    h2, a{
        color: #f6f6f6;
    }
}

.izq{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

.test{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.external{
    transition: 0.3s;    
    margin: 0;
    text-transform: unset;
    margin-top: 10px;
    text-align: justify;
}

.external:hover{
    transition: 0.3s;
    color: #8a5a44;
}

.der{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 50px;
}


.icons{
    display: flex;
    gap: 20;
}

.social-logo{
    transition: 0.3s;
    fill: #f6f6f6;
    width: 50px;
    margin-top: 30px;
    padding: 50px;
}

.social-logo:hover{
    transition: 0.3s;
    fill: #8a5a44;
}

.autor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 20px;
}